:root
{
    background-color: white;
    font-family: Courier, monospace;
    --background-main-buttons: #f8f9fa;
    --color-gray-500: #707070;
    --main-background-color: #cecece;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    cursor: none;  

}
.main-coloring-area {
    width: 100%;
 
}

html {
    font-family: Courier, monospace;
    height: fit-content;
    width: 100%;
    min-width: fit-content;
    background-color: var(--main-background-color);
    color: rgb(0, 0, 0);
}
body {
    height: 100%;
    width: 100%;
    background-color:var(--main-background-color);
    color: rgb(0, 0, 0);

}
.cursor {
    width: 12px;
    height: 12px;
    font-size: small;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


main {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}
.icon-image {
    height: 150px;
    width: 150px;
}
.main-title {
    display: flex;
    align-items: center;
    height: auto;
    margin: 20px;
    min-height: fit-content;
    justify-content: center;
    font-family: Courier, monospace;
    font-weight:700;
    font-size: 50pt;
}

#main-grid-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;


}
.grid-container-item {
    margin: 30px;
    border: 20px solid black;
    box-shadow: 20px 20px 10px 0px #a7a1a1;
}
.adjust-and-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-adjustments {
    transform: rotate(-90deg);
    /*min-width: 400px;*/
    position: absolute;
    right: 400px;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

#grid-adjustor-label {
    font-size: 18pt;
    margin-bottom: 0px;
}
#main-grid {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
}

#canvas {
    box-sizing: border-box;
}


.cell {

    border: 1px solid black;
    background-color: #c7c7c7;
    transition: 0.5s;
}
.cell:hover{
    background-color: black;
}

#palette-container {
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
.palette-button, #outline-button,  #current-color{
    outline: none;
    height: 35px;
    width: 35px;
    margin: 10px;
    border-radius: 40%;
    border: 5px solid black;
}
#red-button { background-color: red;}
#yellow-button { background-color: yellow;}
#green-button { background-color: green;}
#blue-button {background-color: blue;}
#black-button {background-color: black;}
#eraser-button {background-color: #c7c7c7;}
#random-button { 
    background-color: black; 
    border-top: 5px solid red;
    border-right: 5px solid green;
    border-bottom: 5px solid blue;
    border-left: 5px solid yellow;
}
#color-picker-button {
    width:80px;
    border-radius: 0px;
}

.config-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#outline-button {
    width: fit-content;
    box-sizing: content-box;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    border-radius: 0%;
    background-color: green;
}
.options-panel {
    display: flex; 
    justify-content: space-around;
}
#restart, #download-button, #generate-random, #draw-grid
{
    box-sizing: border-box;
    font-family: Courier, monospace;
    text-decoration: none;
    color: black;
    display: flex;
    width: fit-content;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid rgb(59, 59, 59);
    border-radius: 32px;
    font-weight:700;
    font-size: 30pt;
    animation-name: button-glow;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#generate-random {
    background: linear-gradient(to left, blueviolet, indigo, blue, green, yellow, orange, red );
    text-decoration: none;
}



@keyframes button-glow {
    0%   {background-color: #949494;}
    50%  {background-color: aliceblue;}
    100% {background-color: #949494;}
}


#attributions {

    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: monospace; 
    font-size: 8pt;
}